@use "base";
@use "mixins";



@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-Regular.ttf') format('ttf');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-Medium.ttf') format('ttf');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-SemiBold.ttf') format('ttf');
  font-weight: 600;
  /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-Bold.ttf') format('ttf');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  /* ExtraBold */
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
  font-family: 'WixMadeDisplay', sans-serif;
  

}

body {
  height: 100%;
  background-color: base.$beige-color;

  a {
    text-decoration: none;
    color: base.$beige-color
  }

  header {
    @include base.default-menu;
  }

  li {
    list-style-type: none;
  }

  h3 {
    font-weight: base.$extra-bold;
    font-size: 48px;

    @include mixins.mobile {
      font-size: 24px;
      margin-top: -3%;
    }
  }
}

.menu {
  ul {
    display: flex;
    gap: 64px;
    font-weight: base.$bold;
    text-align: center;
    align-items: center;

    li:not(.li-drop) a {
      position: relative;
      display: inline-block;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transition: transform 0.4s ease;
      }

      &:hover::after {
        transform: translateX(-50%) scaleX(1);
      }
    }

    .drop-menu a::after {
      display: none;
    }

    .li-drop {
      position: relative;
      width: 130px;
      top: -1.6px;
      box-sizing: border-box;
      border-top: 3px solid transparent;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-radius: 10px 10px 0 0;
      transition: background-color 0.4s, border-color 0.4s;

      &:hover {
        border-color: base.$beige-color;
        cursor: pointer;

        .drop-menu {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
          pointer-events: auto;
        }
      }
    }



    .drop-menu {
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 130px;
      padding-bottom: 9%;
      top: 98%;
      left: -2.1%;
      background: base.$pink-color;
      border-radius: 0 0 10px 10px;
      border-bottom: 3px solid base.$beige-color;
      border-left: 3px solid base.$beige-color;
      border-right: 3px solid base.$beige-color;
      z-index: 4;

      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
      pointer-events: none;
      transition: all 0.4s ease;

      .menu-line {
        width: 100px;
        height: 3px;
        background-color: base.$beige-color;
        border: none;
        margin: 6% auto;
      }
    }

    .li-drop:hover {
      .drop-menu {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  @include mixins.tablet {
    display: none;
  }

  @include mixins.mobile {
    display: none;
  }
}


.header-icons {
  display: flex;
  width: 130px;
  justify-content: space-between;
  z-index: 1000;

  img {
    cursor: pointer;



    @include mixins.tablet {
      width: 41px;
      height: auto;
    }

    @include mixins.mobile {
      width: 35px;
      height: auto;
    }



    @include mixins.desktop {
      width: 48px;
      height: auto;
    }


  }
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 0.8%;
  justify-content: space-between;
  margin: 0 1.2% 0;

  @include mixins.mobile {
    margin: 0 4% 0;

    h3 {
      margin-top: -5%;
    }
  }

  @include mixins.tablet {
    margin: 0 2% 0;
  }

}


.home-beige {
  background-image: url('/images/vectors/beigeMain.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;


  @include mixins.tablet {
    height: 55vh;
    background-image: url('/images/vectors/tablet/beigeMain.svg');
  }

  @include mixins.mobile {
    background-image: url('/images/vectors/mobile/beigeMain.svg');
    height: 32vh;
  }


  @include mixins.laptop {
    height: 99vh;
    background-image: url('/images/vectors/laptop/beigeMain.svg');
  }

  @include mixins.desktop {
    height: 110vh;

    background-image: url('/images/vectors/desktop/beigeMain.svg');
  }


}

.home-pink {
  background-image: url('/images/vectors/pinkMain.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;


  @include mixins.tablet {
    height: 50vh;
    background-image: url('/images/vectors/tablet/pinkMain.svg');

  }

  @include mixins.mobile {
    background-image: url('/images/vectors/mobile/pinkMain.svg');
    height: 32vh;
  }

  @include mixins.laptop {
    height: 92vh;
    background-image: url('/images/vectors/laptop/pinkMain.svg');
  }

  @include mixins.desktop {
    height: 100vh;
    background-image: url('/images/vectors/desktop/pinkMain.svg');

  }


}

.catalog-beige {
  background-image: url('/images/vectors/beigeCatalog.svg');
  background-size: cover;
  height: 433px;
  position: relative;
}

.catalog-pink {
  background-image: url('/images/vectors/pinkCatalog.svg');
  background-size: cover;
  height: 367px;
}

.about-beige {
  background-image: url('/images/vectors/beigeAbout.svg');
  background-size: cover;
  height: 408px;
  position: relative;
}

.about-pink {
  background-image: url('/images/vectors/pinkAbout.svg');
  background-size: cover;
  height: 378px;
}

footer {

  background-size: cover;
  height: auto;
  @include base.default-menu;

  @include mixins.desktop {
    background-image: url('/images/vectors/desktop/beigeFooter.svg');
    width: auto;

    // font-size: 10px;
  }

  @include mixins.laptop {
    background-image: url('/images/vectors/beigeFooter.svg');
  }


  @include mixins.tablet {
    background-image: url('/images/vectors/tablet/beigeFooter.svg');
  }

  @include mixins.mobile {
    background-image: url('/images/vectors/mobile/beigeFooter.svg');
    // font-size: 5px;
  }





  .footer-back {

    background-size: cover;
    height: auto;
    position: relative;
    top: 50px;

    @include mixins.desktop {
      background-image: url('/images/vectors/desktop/pinkFooter.svg');
    }

    @include mixins.laptop {
      background-image: url('/images/vectors/pinkFooter.svg');
    }

    @include mixins.tablet {
      background-image: url('/images/vectors/tablet/pinkFooter.svg');
    }

    @include mixins.mobile {
      background-image: url('/images/vectors/mobile/pinkFooter.svg');

    }

    .footer-content {
      padding-top: 8%;

      h3 {
        margin-left: 2%;

        @include mixins.tablet {
          margin-top: 2%;
          font-size: 40px;
        }

        @include mixins.mobile {
          margin-top: 7%;
          font-size: 30px;
        }
      }

      .footer-menu {
        flex-wrap: wrap;

        @include mixins.mobile {
          a {
            font-size: 5px;
          }
        }

        .icons {
          display: flex;
          justify-content: space-around;
        }

        a,
        p {


          @include mixins.desktop {}

          @include mixins.laptop {
            font-size: 24px;
          }

          @include mixins.tablet {
            font-size: 16px;
          }

          @include mixins.mobile {}

          font-weight: base.$semi-bold;
        }

        width: 80%;
        margin: 15% auto;
        display: flex;
        justify-content: space-between;

        @include mixins.tablet {
          margin: 20% auto 5%;
        }

        .footer-categories {
          a {

            font-weight: base.$medium;

            @include mixins.desktop {}

            @include mixins.laptop {
              font-size: 16px;
            }

            @include mixins.tablet {}

            @include mixins.mobile {}

          }

        }

        p {
          line-height: 30px;
          margin-bottom: 8%;


        }
      }

      .rights {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 2%;
      }
    }

  }
}

#map {
  margin: 5% auto;
  width: 800px;
  height: 400px;
}