@use "base";
@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-Regular.ttf') format('ttf');
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-Medium.ttf') format('ttf');
  font-weight: 500; /* Medium */
  font-style: normal;
}
@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-SemiBold.ttf') format('ttf');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}
@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-Bold.ttf') format('ttf');
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: 'WixMadeDisplay';
  src: url('/fonts/WixMadeDisplay-ExtraBold.ttf') format('ttf');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
  font-family: 'WixMadeDisplay', sans-serif;
  
}

body {
  background-color: base.$beige-color;
  a,header {
    text-decoration: none;
    @include base.default-menu;
  }
  li {
    list-style-type: none;
  }
  h3 {
    font-weight: base.$extra-bold;
    font-size: 48px;
  }
}

.menu {
  
  ul {
    display: flex;
    gap: 64px;
    font-weight: base.$bold;
  }
}
.header-icons {
  display: flex;
  width: 130px;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
  padding-top: 0.8%;
  justify-content: space-around;
}
.home-beige {
  background-image: url('/images/vectors/beigeMain.svg');
  background-size: cover; /* Настроить размер фона */
  height: 100vh;
  position: relative;
}
.home-pink {
  background-image: url('/images/vectors/pinkMain.svg');
  background-size: cover; /* Настроить размер фона */
  height: 92vh;
}
.catalog-beige {
  background-image: url('/images/vectors/beigeCatalog.svg');
  background-size: cover; /* Настроить размер фона */
  height: 433px;
  position: relative;
}
.catalog-pink {
  background-image: url('/images/vectors/pinkCatalog.svg');
  background-size: cover; /* Настроить размер фона */
  height: 367px;
}

footer {
  background-image: url('/images/vectors/beigeFooter.svg');
  background-size: cover; /* Настроить размер фона */
  height: 900px;
  @include base.default-menu;
  .footer-back {
    background-image: url('/images/vectors/pinkFooter.svg');
    background-size: cover; /* Настроить размер фона */
    height: 900px;
    position: relative;
    top: 50px;
    .footer-content {
      padding-top: 8%;
      h3 {
        margin-left: 2%;
      }
      .footer-menu {
        width: 80%;
        margin: 15% auto;
        display: flex;
        justify-content: space-between;
        p {
          font-weight: base.$semi-bold;
          font-size: 24px;
          display: grid;
          gap: 5%;
        }
      }
    }
    
  }
}
