@use "base";
.first-block {
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  top: 20%;
  h1, p {
    color: base.$brown-color;
    line-height: 102%
  };
  h1 {
    font-size: 128px;
    font-weight: base.$extra-bold;
    letter-spacing: -5px;
  };
  p {
    font-size: 36px;
    font-weight: base.$semi-bold;
  };
  div {
    flex: 1;
  }
}
.first-block-half1 {
  margin-left: 2%;
  margin-top: 2%;
  
}
.first-block-half2 {
  width: 100%;
  height: 50vh;
  position: relative;
  img {
    position: absolute;
    transform: translate(-50%, -50%);

  }
}
.strawberry-cake {
  top: 56%;           
  left: 52%; 
}
.vector-cake {
  top: 60%;   
  left: 55%;  
}

.buttons-cake {
  margin-top: 5.5%;
  display: flex;
  gap: 2%;
  button {
    font-size: 20px;
    font-weight: base.$medium;
    width: 165px;
    height: 56px;
    border-radius: 10px;
    border:3px solid base.$brown-color
  }
  .button-contacts {
    background-color: base.$beige-color;
    color: base.$brown-color;
  }
  .button-delivery {
    background-color: base.$brown-color;
    color: base.$beige-color;
  }
}
