@use "../../../../styles/base" as *;
@use "../../../../styles/mixins";
.catalog {
    h2 {
        color: $beige-color;
        font-size: 96px;
        font-weight: $extra-bold;
        position: absolute;
        top: 15%;
        left: 3%;
        z-index: 3;
    }
    .search-filters {
        margin: 2% 3% 3% 0;
        width: 50% ;
        float: right;
        input {
            margin-left: 1%;
            border: 3px solid $brown-color;
            border-radius: 10px;
            padding: 2%;
            background-color: $beige-color;
        }
    }
    .products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    .product {
        width: 405px;
        text-align: center; 
        margin-bottom: 4%;
        img {
            height: 370px;
        }
        .name-price {
            color: $brown-color;
            font-weight: $semi-bold;
            display: flex;
            justify-content: space-between;
            padding: 2%;
            align-items: center;
            p:first-of-type {
                font-size: 36px;
            }
    
            p:nth-of-type(2) {
                font-size: 24px;
            }
        }
        .button-order {
            width: 280px;
            height: 60px;
            font-size: 24px;
            font-weight: $bold;
            background-color: $brown-color;
            color: $beige-color;
            border: none;
            border-radius: 10px;
        }
    }
}