@use "../../../styles/base" as *;
@use "../../../styles/mixins";

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  position: relative;

  @include mixins.mobile {
    display: flex;
  }

  @include mixins.tablet {
    display: flex;
  }

  .burger-icon {
    cursor: pointer;
    width: 30px;
    height: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;

    @include mixins.mobile {
      width: 28px;
    }

    div {
      background-color: $beige-color;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      transition: transform 0.3s ease, opacity 0.3s ease;
      transform-origin: center;
    }

    .line1 {
      top: 0;
    }

    .line2 {
      top: 50%;
    }

    .line3 {
      bottom: 0;
    }

    &.active .line1 {
      transform: rotate(45deg) translate(7px, 7px);
      /* Точное значение */
    }

    &.active .line2 {
      opacity: 0;
    }

    &.active .line3 {
      transform: rotate(-45deg) translate(7px, -7px);
      /* Точное значение */
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .menu-block {
    position: fixed;
    top: 0;
    left: -320px;
    width: 300px;
    height: 500px;
    background-image: url('/images/vectors/burger-menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-bottom-right-radius: 20px;
    padding: 1rem;
    z-index: 1005;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    transform: translateX(-20px);

    .close {
      position: absolute;
      font-size: 30px;
      color: $brown-color;
      right: 20px;
      top: 15px;
      cursor: pointer;
    }
  }

  .menu-block.open {
    visibility: visible;
    opacity: 1;
    left: 0;
    transform: translateX(0);
  }
   &.closing {
    transform: translateX(-100%);
  }
}

.menu {
  padding: 0;
  margin-left: 2%;
  margin-top: 10%;
  list-style: none;
}

.menu li {
  padding: 10px 0;
}

.menu li a {
  text-decoration: none;
  color: $brown-color;
  font-size: 16px;
  font-weight: $semi-bold;
  transition: color 0.3s;
}