@use "../../../styles/base" as *;
@use "../../../styles/mixins";

.modal {
    .pinkInput {
        border: 5px solid $peach-color;
        color: $pink-color;

        background-color: $beige-color;
        margin-bottom: 2%;

        &::placeholder {
            color: $pink-color;
            opacity: 1;
        }

        @include mixins.tablet {
            width: 330px;
            margin-bottom: 4%;
            padding: 2.5%;

        }

        @include mixins.mobile {
            width: 255px;
            margin-bottom: 4%;
            padding: 3%;

        }

        @include mixins.laptop {
            width: 380px;
            height: 25px;
            padding: 4%;
        }

        @include mixins.desktop {}





    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;

    .modal-content {
        background-color: $beige-color;
        border-radius: 8px 8px 0 0;
        width: 35%;
        border: none;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: $extra-bold;



        @include mixins.tablet {
            width: 65%;
        }

        @include mixins.mobile {
            width: 90%;
        }

        @include mixins.desktop {}

        .close-form {
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 40px;
            cursor: pointer;
            color: $pink-color;

            @include mixins.tablet {
                font-size: 48px;
                right: 15px;
                top: 10px;
            }

            @include mixins.mobile {
                font-size: 48px;
                right: 15px;
                top: 5px;
            }
            @include mixins.desktop {
                font-size: 56px;
                right: 25px;
            }
        }

        .close-form:hover {
            color: $peach-color;
        }

        .modalH {

            color: $brown-color;
            text-shadow: 3px 12px #FFC7B8;
            margin-bottom: 44px;
            margin-top: 55px;

            @include mixins.tablet {
                font-size: 55px;
                margin-top: 60px;
                margin-bottom: 30px;
                text-shadow: 3px 9px #FFC7B8;
            }

            @include mixins.mobile {
                font-size: 40px;
                margin-top: 60px;
                margin-bottom: 30px;
                text-shadow: 3px 9px #FFC7B8;
            }

            @include mixins.laptop {
                font-size: 56px;
            }

            @include mixins.desktop {
                font-size: 72px;
            }

        }

        form {
            margin: 0 auto;
            text-align: center;
            width: 90%;

            input,
            button {
                border-radius: 20px;
                font-size: 25px;
                font-weight: $extra-bold;

                @include mixins.tablet {
                    font-size: 22px;

                }

                @include mixins.mobile {
                    font-size: 18px;

                }
            }

            button {

                background-color: $pink-color;
                color: $beige-color;
                padding: 4%;
                border: none;
                margin-top: 24px;
                 @include mixins.tablet {
                    

                }

                @include mixins.mobile {
                   padding: 6%;
                   margin-top: 15px;

                }
            }

            button:hover {
                background-color: $beige-color;
                color: $pink-color;
                border: 4px solid $pink-color;
            }

        }
    }

    .law,
    .law1 {
        color: $peach-color;
        width: auto;
        margin: 2% auto;
        text-align: center;
    }

    .law1 {
        font-size: 15px;
        text-decoration: underline;

        @include mixins.tablet {
            font-size: 13px;
        }

        @include mixins.mobile {
            font-size: 10px;
        }
        
    }

    .law {
        font-size: 20px;
        text-decoration: underline;

        @include mixins.tablet {
            font-size: 25px;
        }

        @include mixins.mobile {
            font-size: 20px;
        }
    }

    .law:hover,
    .law1:hover {
        color: $darkPeach-color;
    }

    .image-container {
        width: 35%;
        margin-top: -0.5%;
        z-index: -1;

        @include mixins.tablet {
            width: 65%;
        }

        @include mixins.mobile {
            width: 90%;
        }

        img {
            width: 100%;
            height: auto;


        }
    }

}