@use "../../../styles/base" as *;
@use "../../../styles/mixins";

.make-order {
    h3 {
        color: $beige-color;
        font-size: 64px;
        font-weight: $extra-bold;
        position: absolute;
        top: 14%;
        left: 2%;
        z-index: 3;
    }

    section {
        display: flex;
        width: 90%;
        margin: 4% auto;
        gap: 5%;

        .products,
        .order {
            background-color: $peach-color;
            padding: 3%;
            border-radius: 3%;
        }
    }

    .products {
        flex: 1;

        width: auto;

        .product {
            display: flex;
            justify-content: space-between;
            color: $brown-color;
            font-size: 24px;
            font-weight: $semi-bold;
            .trash {
                color: red;
            }
            .item-img {
                height: auto;
                width: 150px;
            }

            .quantityProduct {
                display: flex;
                justify-content: space-between;
                width: 50px;

                .changeQuantity {
                    font-size: smaller;
                }
            }

        }
    }

    .order {
        flex: 1;

        h4 {
            color: $pink-color;
            font-size: 50px;
            font-weight: $extra-bold;
        }
    }

    .order-inputs {
        input {
            background-color: $beige-color;
            color: $pink-color;
            font-size: 24px;
            width: 320px;
            height: 70px;
            border: 4px solid $brown-color;
            border-radius: 20px;
        }
    }

    .submitCart {
        width: 300px;
        height: 70px;
        background-color: $brown-color;
        color: $beige-color;
        border: none;
        border-radius: 20px;
        font-size: 24px;
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: url('../../../../public/images/vectors/backOfCart.png');
    background-size: cover;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}